* {
  box-sizing: border-box;
  padding: 0;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background-color: grey;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  background-color: #252628;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header button {
  display: none;
}

.nav-hamburguesa {
  display: none;
}

nav {
  width: 40%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style:none;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

nav a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.agregarTramites {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

button {
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.editar {
  background-color: #FF9800;
}

.eliminar {
  background-color: #ca1010;
}

.crear {
  background-color: #4CAF50;
}

dialog {
  border: none;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 25%;
  height: 40vh;
}

dialog h2 {
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 24px;
}

dialog form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50%;
  padding-left: 5px;
}

dialog form input {
  width: 70%;
  height: 30%;
  padding: 5px;
  border-radius: 5px;
}

dialog form label {
  width: 70%;
  height: 30%;
  padding: 5px;
  font-size: 20px;
  display: flex;
  gap: 15px;
}

dialog .botones {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

dialog .opciones {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#cbxestadoTramiteCreado {
  width: 20px;
  height: 20px;
  accent-color: #4CAF50;
}

#estadoTramiteEditado {
  width: 20px;
  height: 20px;
  accent-color: #4CAF50;  
}

.tablaTipoTramite {
  table-layout: auto;
  border-collapse: collapse;
  background-color: #f9f9f9;
  height: 70vh;
  width: 70%;
  overflow-y: scroll; 
  border-radius: 8px; 
}

table {
  width: 100%;
}

.tipos {
  background-color: #f9f9f9;    
  position: sticky;
  top: 0;
  z-index: 10 ;
}
th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid black;
  text-transform: capitalize;
  color: #333;
}

footer {
  width: 100%;
  height: 5%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.subirArchivosContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.subirArchivosContainer h2 {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
}
.inputsContainer {
  width: 90%;
  height: 20%;
  display: flex;
  gap: 15px;
}

.inputSocioContainer {
  background-color: #f9f9f9;
  height: 10vh;
  height: auto; 
  color: #333;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.inputSocioContainer,
.inputContainer,
.checkboxContainer {
  background-color: #ffffff;
  height: auto;
  width: calc(33.333% - 10px);
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inputSocioContainer label,
.inputContainer label,
.checkboxContainer label {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.inputSocioContainer input,
.inputSocioContainer textarea,
.inputContainer input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.checkboxContainer input[type="checkbox"] {
  width: auto;
  margin-left: 5px;
  transform: scale(1.5);
  accent-color: #4CAF50;
}

.archivoContainer {
  width: 50%;
  height: auto; 
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  gap: 10px;
}

.archivoContainer input[type="file"] {
  display: none;
}

.archivoContainer label {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ca1010;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.archivoContainer label:hover {
  background-color: #b10d0d;
  transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
}

.archivoContainer label:active {
  background-color: #a30c0c;
  transform: scale(0.98); /* Reduce ligeramente al hacer clic */
}

/* Mensaje adicional opcional */
.archivoContainer p {
  font-size: 14px;
  color: #666;
  margin: 0;
  text-align: center;
}

.error-visible {
  background-color: red;
  font-size: 24px;
  font-weight: 500;
  width: auto;
  min-width: 20%;
  border-radius: 8px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  padding: 5px;
}

/** tramites */

.filtro {
  background-color: #252628;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 35px;
  gap: 35px;
}

.filtro h2 {
  font-size: 26px;
  color: #fff;
  font-weight: 300;
}

.filtro input {
  width: 30%;
  height: 5vh;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.tablaTramite {
  table-layout: auto;
  border-collapse: collapse;
  background-color: #f9f9f9;
  height: 85%;
  width: 90%;
  overflow-y: scroll; 
  border-radius: 8px; 
}

#obtenerTramites {
  height: 40%;
}

#Visorpdf {
  border: none;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 60%;
  height: 90vh;
  overflow-y: auto; /* Permitir scroll vertical */
}

iframe {
  width: 85%;
  height: 85vh; 
  border: 1px solid #ddd; /* Opcional: para visualizar mejor los límites */
  margin-bottom: 1rem; /* Espaciado entre iframes */
  border-radius: 4px; /* Opcional: bordes redondeados */
}

.dialog-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1050px) {
  header {
    display: flex;
    justify-content: flex-start;
  }

  .button-container {
    width: 40%;
    height: 40%;
  }

  header button {
    display: block;
    background-color: #252628;
    width: 30%;
    height: 100%;
    font-size: 30px;
  }

  nav {
    display: none;
  }

  .nav-hamburguesa {
    display: none;
  }

  .nav-hamburguesa.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.8);
    width: 35%;
    height: 25%;
    z-index: 20;
    border-radius: 8px;
  }

  .nav-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
  }

  .nav-list li {
    height: 30%;
    display: flex;
    align-items: center;
  }

  .nav-list li a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
  }

  dialog {
    width: 90%;
  }

  dialog h2 {
    width: 100%;
    height: 20%;
    font-size: 22px;
  }

  dialog form {
    width: 100%;
    height: 40%;
  }

  dialog .opciones {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .tablaTipoTramite {
    width: 90%;
  }

  table {
    width: 100%;
  }

  footer span {
    font-size: 16px;
    text-align: center;
  }

  .subirArchivosContainer {
    gap: 10px; 
    padding: 15px;
    overflow: scroll;
  }

  .subirArchivosContainer h2 {
    font-size: 20px; 
    margin-bottom: 10px; 
    overflow: scroll;
    height: auto; 
  }

  .inputsContainer {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: auto;
  }

  .inputSocioContainer,
  .inputContainer,
  .checkboxContainer {
    width: 100%; 
    flex-direction: column; 
    gap: 8px;
  }

  .inputSocioContainer input,
  .inputSocioContainer textarea,
  .inputContainer input {
    font-size: 14px; 
    padding: 6px;
  }

  .archivoContainer {
    width: 100%; 
    padding: 15px; 
  }

  .archivoContainer label {
    font-size: 14px; 
    padding: 8px 15px; 
  }

  .archivoContainer p {
    font-size: 12px;
    margin-top: 5px;
  }

  .error-visible {
    font-size: 18px; 
    min-width: 50%; 
  }

  #uploadBtn {
    font-size: 16px; 
    padding: 10px 15px; 
  }

  .filtro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20vh;
    padding: 0;
    gap: 0;
  }

  .filtro h2 {
    font-size: 22px;
    height: auto;
  }

  .filtro input {
    width: 95%; 
  }

  #Visorpdf {
    width: 95%;
    height: 95%;
  }

  .tablaTramite {
    width: 99%;
  }

  iframe {
    width: 100%;
  }
}